<app-navbar />
<app-title title="Dashboard"></app-title>
<div class="dashboard">
  <div class="dashboard__left">
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Impedit blanditiis debitis tempora quidem fugit obcaecati eaque, alias similique magni, dignissimos nesciunt provident nemo distinctio minima, velit doloremque dolorum neque. Laboriosam?
    Accusamus qui tenetur atque. Quod, libero. Praesentium totam eius sapiente accusamus, corrupti officiis, omnis fugiat nihil debitis illum, ab tenetur provident quasi numquam porro eos accusantium modi asperiores ea sit!
    Amet natus vero nisi quos, sit repudiandae debitis vel rem dignissimos. Iusto illo pariatur expedita, eum repudiandae nam sit nisi dolore numquam eos, facere, cumque eveniet fuga eaque accusamus temporibus?
    Voluptatum veritatis quo amet pariatur laborum in iste deleniti harum consectetur laboriosam accusamus et asperiores tempore sit rerum aut, quibusdam optio, quas illum! Eaque, porro sunt dignissimos velit quam laboriosam.
    Provident rem reiciendis ab? Sed eveniet debitis nulla vitae eum veniam praesentium eos voluptas omnis a quasi voluptatem officia eius deleniti eligendi illo dolorem, at molestiae cumque in blanditiis! Mollitia.
    Nostrum sed quisquam harum culpa ipsa quas iusto eveniet expedita autem! Velit saepe maxime veniam deserunt distinctio vel neque nam quas, delectus cum ullam quisquam, error pariatur iure quis earum.
    Reiciendis voluptatibus illum cupiditate dicta natus ratione dolore ab molestias voluptatem, iure earum, necessitatibus nihil quis voluptas dolorum id porro odit architecto nostrum quidem aliquid. Molestias voluptatibus impedit libero rerum.
    Soluta esse aspernatur natus nisi ipsam repudiandae nulla dolorum tenetur alias voluptas. Maxime sequi iure perferendis perspiciatis commodi architecto! Ducimus voluptas est, provident aperiam quis harum iusto natus! Dolorem, quaerat.
    Dolore incidunt blanditiis quis sed tenetur repellat voluptatibus quidem, dignissimos pariatur odit, maiores modi sequi vel. Soluta, rem nesciunt. Consectetur qui ullam veritatis distinctio illum cum nesciunt saepe explicabo quidem?
    Fugit architecto corporis sapiente sequi dignissimos! Eveniet tenetur magni nobis vero nisi. Earum, ipsum voluptatibus? Voluptatum atque error ut tempora veniam repellendus quam temporibus repellat, reiciendis expedita libero, commodi id?</p>
  </div>
  <div class="dashboard__rigth">
   <router-outlet></router-outlet> 
  </div>
</div>