.dashboard {
  width: 100%;
  min-height: 80vh;
  display: flex;
  &__left {
    width: 20%;
    padding: 1rem;
  }
  &__rigth {
    width: 80%;
    min-height: 100%;
    padding: 16px;
    box-shadow: -2px 0px 2px -1px rgba(0, 0, 0, 0.2);
  }
  @media screen and (max-width: 768px) {
    flex-direction: column;
    &__left {
      width: 90%;
    }
    &__rigth {
      width: 90%;
    }
  }
}
